<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body, html {
  height: 100%;
  line-height: 1.8;
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none; 
}

button{
    margin-top: 5px;
    margin-right: 10%;
    width: 100%;
    height: 50%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0px;
    border-radius: 3px;
    cursor: pointer;
}

</style>
</head>
<body style="background-image: url('https://www.iplanetstore.in/assets/home/images/macpro13-files/v/macbook-pro-13/f/images/overview/macos_bg__b9yaapi9sjv6_large_2x.jpg');">
  <div class="w3-container">
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Header -->
  <header class="w3-container " style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-white w3-padding-16 w3-round">
        <div class="w3-auto fa fa-tint w3-xxlarge"><h5>Moisture</h5></div>
        <div class="w3-right"><h5>??</h5></div>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-white w3-padding-16 w3-round">
        <div class="w3-auto fa fa-cloud w3-xxlarge"><h5>Weather</h5></div>
        <div class="w3-right"><h5>??</h5></div>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-white w3-padding-16 w3-round">
        <div class="w3-auto fa fa-thermometer-half w3-xxlarge w3-round"><h5>Temperature</h5></div>
        <div class="w3-right"><h5>??</h5></div>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-white w3-padding-16 w3-round">
        <div class="w3-auto fa fa-sun-o w3-xxlarge"><h5>Light</h5></div>
        <div class="w3-right"><h5>??</h5></div>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-rest">
    <div class=" w3-container w3-text-white w3-padding-16 w3-round">
      <div class="w3-center"><h5>Staus : ??</h5></div>
      <div class="w3-rest">
        <button class="w3-rest w3-button w3-block w3-white" >Botton1</button>
        <button class="w3-rest w3-button w3-block w3-white" >Botton2</button>
        <button class="w3-rest w3-button w3-block w3-white" >Botton3</button>
        <button class="w3-rest w3-button w3-block w3-white" >Botton4</button>
        <button class="w3-rest w3-button w3-block w3-teal" >Start</button>
        <button class="w3-rest w3-button w3-block w3-red" >Stop</button>
      </div>
    </div>
  </div>

  <!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="{{ url_for('auth.Home') }}" class="w3-bar-item w3-button">Home</a>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <a href="{{ url_for('auth.program') }}" class="w3-bar-item w3-button w3-hide-small"></i> Program</a>
      <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-button w3-hide-small"></i> Logout</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
    {% else %}
      <a href="{{ url_for('auth.login') }}" class="w3-bar-item w3-button w3-hide-small"></i> Login</a>
      <a href="{{ url_for('auth.register') }}" class="w3-bar-item w3-button w3-hide-small"></i> SignUp</a>
    {% endif %}
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <a href="{{ url_for('auth.program') }}" class="w3-bar-item w3-button" onclick="toggleFunction()">Program</a>
      <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-button" onclick="toggleFunction()">Logout</a>
    {% else %}
      <a href="{{ url_for('auth.login') }}" class="w3-bar-item w3-button" onclick="toggleFunction()">Login</a>
      <a href="{{ url_for('auth.register') }}" class="w3-bar-item w3-button" onclick="toggleFunction()">SignUp</a>
    {% endif %}
  </div>
</div>

</div>

<script>
  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }
  
  // Change style of navbar on scroll
  window.onscroll = function() {myFunction()};
  function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
          navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
      } else {
          navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
      }
  }
  
  // Used to toggle the menu on small screens when clicking on the menu button
  function toggleFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
      } else {
          x.className = x.className.replace(" w3-show", "");
      }
  }
  </script>

</body>
</html>
